# Урок 2. Анализ датасета с помощью Pandas

In [1]:
import pandas as pd

# Условие 1: 1 задача
Скачать файл в уроке

* id - Уникальный ID для каждого дома
* date - Дата продажи дома
* price - Стоимость продажи дома
* bedrooms - Кол-во спален
* bathrooms - Кол-во ванных комнат (0.5 - туалет без душа)
* sqft_living - Кв. метры жилые
* sqft_lot - Кв. метры общие
* floors - Кол-во этажей
* waterfront - Есть набержная или нет
* view - Значение от 0 до 4 насколько хороший вид
* condition - Значение от 1 до 5 насколько хорошее состояние
* grade - Значение от 1 до 13, где 1-3 плохая конструкция здания и дизайн, 7 - средний уровень конструкции и дизайна, 11-13 -  высокое качество конструкции и дизайна
* sqft_above - Кв. метры дома, которые находятся выше земли
* sqft_basement - Кв. метры дома, которые находятся ниже земли
* yr_built - Год постройки дома
* yr_renovated - Год ремонта дома
* zipcode - Индекс
* lat - Широтма
* long - Долгота
* sqft_living15 - Кв. метры жилой площади у 15 соседей
* sqft_lot15 - Кв. метры общей площади у 15 соседей

Считать данные с помощью pandas

In [5]:
df = pd.read_csv('kc_final (1).csv', index_col='id')

Вывести на экран первые 5 строк

In [6]:
df.head()

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,,
7129300520,0,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,1,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,2,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,3,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,4,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Посмотреть на описание признаков и на их содержание

In [7]:
df.describe()

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21613.00000,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,10806.00000,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,6239.28002,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,0.00000,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,5403.00000,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,10806.00000,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,16209.00000,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,21612.00000,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## Условие 2: 2 задача
Проведите первичный анализ данных

Изучите типы данных

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21613 entries, 7129300520 to 1523300157
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.6+ MB

Найдите количество пропущенных ячеек в данных

In [13]:
df_kc = df.isna().sum()
df_kc.sum()

0

Посчитайте основные статистики по всем признакам и поизучайте их

In [14]:
df.describe()

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21613.00000,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,10806.00000,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,6239.28002,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,0.00000,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,5403.00000,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,10806.00000,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,16209.00000,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,21612.00000,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

Представлена инфа по 21613 домам. Все ячейки заполнены.

## Условие 3: 3 задача
Ответьте на несколько вопросов

3.1 В каком диапазоне изменяются стоимости недвижимости?

In [16]:
df.price.min(), df.price.max()

(75000.0, 7700000.0)

3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [17]:
df.sqft_living.mean()

2079.8997362698374

3.3 Как много домов с разными этажами в данных?

In [19]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

3.4 Насколько хорошие состояния у домов в данных?

In [20]:
df['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [21]:
df.yr_built.min(), df.yr_built.max()

(1900, 2015)

## Условие 4: 4 задача
Ответьте на несколько вопросов

4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [23]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [25]:
df[df['price'] > 600000]['sqft_lot'].mean()

20442.524776214832

4.3 Как много домов коснулся ремонт?

In [26]:
df[df['yr_renovated'] != 0].shape[0]

914

4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [28]:
df[df['grade'] > 10]['price'].mean() - df[df['grade'] < 4]['price'].mean()

1488885.1175298805

## Условие 5: 5 задача
Ответьте на несколько вопросов

5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [35]:
df_ks5_1 = df[(df['waterfront'] != 0) & (df['bathrooms'] >= 3) & (df['sqft_basement'] != 0)]
df_ks5_1

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,,
3225069065,300,2014-06-24,3075000.0,4,5.00,4550,18641,1.0,1,4,...,10,2600,1950,2002,0,98074,47.6053,-122.077,4550,19508
2122039094,457,2014-11-26,705000.0,3,3.00,1970,20978,2.0,1,3,...,9,1770,200,1980,0,98070,47.3844,-122.438,2280,75396
1247600105,1164,2014-10-20,5110800.0,5,5.25,8010,45517,2.0,1,4,...,12,5990,2020,1999,0,98033,47.6767,-122.211,3430,26788
7636800041,1261,2014-06-25,995000.0,3,4.50,4380,47044,2.0,1,3,...,9,3720,660,1968,1990,98166,47.4734,-122.365,2460,18512
7558700030,1315,2015-04-13,5300000.0,6,6.00,7390,24829,2.0,1,4,...,12,5000,2390,1991,0,98040,47.5631,-122.210,4320,24619
1925069082,1361,2015-05-11,2200000.0,5,4.25,4640,22703,2.0,1,4,...,8,2860,1780,1952,0,98052,47.6393,-122.097,3140,14200
7738500731,2626,2014-08-15,4500000.0,5,5.50,6640,40014,2.0,1,4,...,12,6350,290,2004,0,98155,47.7493,-122.280,3030,23408
4114601570,2864,2014-11-18,3600000.0,3,3.25,5020,12431,2.0,1,4,...,10,3420,1600,1941,2002,98144,47.5925,-122.287,3680,12620
9808700762,3914,2014-06-11,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
1269200229,3934,2014-07-23,1379900.0,3,3.25,3786,38038,1.0,1,4,...,9,1934,1852,1978,2006,98070,47.3907,-122.448,2850,33361
623059016,5760,2014-07-17,1100000.0,4,3.25,3190,11774,2.0,1,4,...,8,2610,580,1956,1991,98178,47.5033,-122.225,2240,8725
2024069008,6233,2014-06-19,2200000.0,5,4.75,5990,10450,2.0,1,4,...,11,4050,1940,2002,0,98027,47.5554,-122.077,3330,14810
4217402115,6508,2015-04-21,3650000.0,6,4.75,5480,19401,1.5,1,4,...,11,3910,1570,1936,0,98105,47.6515,-122.277,3510,15810
9362000040,7989,2014-06-23,3400000.0,3,4.50,5230,17826,2.0,1,4,...,10,3740,1490,2005,0,98040,47.5348,-122.243,3670,17826
1924059029,8092,2014-06-17,4668000.0,5,6.75,9640,13068,1.0,1,4,...,12,4820,4820,1983,2009,98040,47.5570,-122.210,3270,10454
1724069079,8163,2015-03-19,1452000.0,2,3.25,2070,3128,2.0,1,3,...,9,1760,310,1988,0,98075,47.5686,-122.060,2740,3568
3343302110,8784,2015-03-06,1800000.0,3,3.00,2790,13295,2.0,1,4,...,10,2370,420,1933,1989,98006,47.5466,-122.197,3140,11949
625059036,10263,2014-08-13,2700000.0,5,4.00,4230,27295,2.0,1,4,...,8,3230,1000,1949,1985,98033,47.6803,-122.214,2660,27295
3761100045,11257,2014-06-18,3000000.0,4,4.25,4850,12445,2.0,1,4,...,10,3850,1000,1989,0,98034,47.7011,-122.244,3350,12210
3426049284,11402,2014-08-19,2300000.0,4,3.25,4110,15929,2.0,1,4,...,12,2720,1390,2001,0,98115,47.6934,-122.271,2640,15929
5119400075,11424,2014-06-20,950000.0,3,3.25,3050,18892,1.0,1,4,...,8,1650,1400,1962,0,98198,47.3881,-122.326,1170,70973
624069035,11446,2014-12-09,2750000.0,4,4.00,4130,5575,2.0,1,4,...,10,2860,1270,1993,0,98075,47.5968,-122.083,2980,5575
2623039082,11844,2015-02-18,770000.0,3,3.50,2050,21744,2.0,1,4,...,9,1750,300,1930,0,98166,47.4536,-122.376,2300,12200
4114601580,12459,2014-07-24,1900000.0,6,4.00,3020,13237,2.0,1,4,...,8,2840,180,1942,1983,98144,47.5924,-122.287,3680,12620
3222049044,12935,2014-06-12,835000.0,3,3.00,2790,12523,2.0,1,4,...,8,1600,1190,1977,0,98198,47.3571,-122.324,2990,11476
2923500230,13710,2014-12-16,2600000.0,4,4.50,5270,12195,2.0,1,4,...,11,3400,1870,1979,0,98027,47.5696,-122.090,3390,9905
3126059023,13967,2015-03-03,3395000.0,4,3.50,4730,47870,1.0,1,4,...,10,2940,1790,1954,0,98033,47.6967,-122.216,3250,49346
3625059043,14083,2014-09-04,3300000.0,5,4.75,6200,13873,2.0,1,4,...,11,4440,1760,1989,0,98008,47.6050,-122.112,2940,13525
7936500109,14619,2014-07-25,2230000.0,3,3.00,3620,28064,2.0,1,4,...,10,2370,1250,1977,0,98136,47.5516,-122.398,2550,34713
3623500408,14822,2015-03-30,2600000.0,3,3.00,3410,16015,2.0,1,4,...,10,2220,1190,1973,0,98040,47.5721,-122.239,3760,16572
624069108,15482,2014-08-12,3200000.0,4,3.25,7000,28206,1.0,1,4,...,12,3500,3500,1991,0,98075,47.5928,-122.086,4913,14663
4030100290,15668,2014-10-01,1680000.0,5,3.50,5170,7197,3.0,1,4,...,11,3520,1650,1998,0,98155,47.7561,-122.271,3020,12880
825059178,16817,2014-09-23,2574000.0,4,3.75,4475,20424,2.0,1,4,...,12,2659,1816,1999,0,98033,47.6646,-122.208,4340,5250
7352200450,17767,2015-01-15,2050000.0,4,3.25,3580,19989,1.5,1,4,...,7,3480,100,1915,1965,98125,47.7087,-122.276,2410,6389
3625059152,18199,2014-12-30,3300000.0,3,3.25,4220,41300,1.0,1,4,...,11,2460,1760,1958,1987,98008,47.6083,-122.110,3810,30401
8043700300,18455,2014-06-08,2700000.0,4,3.25,4420,7850,2.0,1,4,...,11,3150,1270,2001,0,98008,47.5720,-122.102,2760,8525
6613000930,18556,2014-09-02,2950000.0,4,3.25,3890,25470,2.0,1,3,...,10,3030,860,1923,0,98105,47.6608,-122.269,4140,19281
518500480,20325,2014-08-11,3000000.0,3,3.50,4410,10756,2.0,1,4,...,11,3430,980,2014,0,98056,47.5283,-122.205,3550,5634
8043700105,20767,2015-04-17,2300000.0,4,4.00,4360,8175,2.5,1,4,...,10,3940,420,2007,0,98008,47.5724,-122.104,2670,8525
518500460,21201,2014-10-08,2230000.0,3,3.50,3760,5634,2.0,1,4,...,11,2830,930,2014,0,98056,47.5285,-122.205,3560,5762
9253900271,21576,2015-01-07,3567000.0,5,4.50,4850,10584,2.0,1,4,...,10,3540,1310,2007,0,98008,47.5943,-122.110,3470,18270

In [37]:
df_ks5_1.shape[0]

41

5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [41]:
df_kc5_2 = df[((df['view'] == 4) | (df['waterfront'] != 0)) & (df['yr_built'] >= 1980) & (df['condition'] == 5)]
df_kc5_2

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,,
3761100045,11257,2014-06-18,3000000.0,4,4.25,4850,12445,2.0,1,4,...,10,3850,1000,1989,0,98034,47.7011,-122.244,3350,12210
7278100515,14682,2014-08-21,1295000.0,2,2.50,2910,19449,2.0,1,4,...,9,1940,970,1985,0,98177,47.7729,-122.393,2540,23598
3585901025,17312,2014-06-13,1735000.0,3,2.50,4310,32093,1.5,0,4,...,10,2510,1800,1982,0,98177,47.7624,-122.380,3810,26400
7856400300,18991,2014-07-02,1411600.0,2,2.50,3180,9400,2.0,0,4,...,10,2610,570,1985,0,98006,47.5617,-122.158,3760,9450
7856400300,18992,2015-03-22,1505000.0,2,2.50,3180,9400,2.0,0,4,...,10,2610,570,1985,0,98006,47.5617,-122.158,3760,9450

In [42]:
df_kc5_2.price.min(), df_kc5_2.price.max()

(1295000.0, 3000000.0)

5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [43]:
df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)]['condition'].mean()

2.8333333333333335